body {
    margin: 0;
    padding: 0;
  }
  .Container {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    text-align: center;
    background-color: #97c1e7;
  }
  
  .BodyLogin {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". . . . ."
      ". . title . ."
      ". . form . ."
      ". . form . ."
      ". . . . .";
  }
  
  .FormLogin {
    grid-area: form;
    background-color: #f2f1ec;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  
  .TitleLogin {
    grid-area: title;
    background-color: #f2f1ec;
    border-top-left-radius: 10% 20%;
    border-top-right-radius: 10% 20%;
  }  
  #ButtonLogin{
    border-radius: 10%;
    background-color: #dbdbdb;
  }
  
  #ButtonLogin:hover{
    border-radius: 10%;
    background-color: #97c1e7;
  }
  