.Container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "Title Title Title"
        "Image Image Detail"
        "Image Image Detail";
}

.Title {
    grid-area: Title;
}

.Image {
    grid-area: Image;
}

.Detail {
    grid-area: Detail;
    display: flex;
    flex-direction: column;
    justify-content: center;
}