body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin: 0;
  }
  
  .Container {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    text-align: center;
  }
  
  .Header {
    height: 30vh;
    width: 100vw;
    background-color: cadetblue;
  }
  
  .Body {
    height: 70vh;
    width: 100vw;
    background-color: firebrick;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". form form ."
      ". form form ."
      ". . . .";
  }
  
  .Formulario {
    grid-area: form;
    background-color: lightblue;
  }
  